.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.comp1 {
  height: 100vh;
  width: 100vw;
  background-image: url("kitchen.jpg");
  background-position: center; 
  color: white;
  

}
.name{
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Oswald';
  width:100%;
  position: absolute;

}
.comp2 {
  height: 100vh;
  width: 100vw;
  background-color: #156262;

  color: white;
}

.comp3 {
  height: 100vh;
  width: 100vw;
  background-color: white;


}
.comp4 {
  height: 105vh;
  width: 100vw;
  background-color: black;
  color: #d3d3d3;
}
.comp5 {
  height: 100vh;
  width: 100vw;
  background-color: royalblue;
}
.form-control{
  border: 4px solid white !important;
}
#r-content {
  padding: 5%;
}
#r-content h2 {
  font-family:"Oswald";
  color: whitesmoke;
  font-weight: 200;
  font-size: 32px;
  text-align: center;
  line-height: 28px;
}
.footer a {
  font-size: smaller;
}
.nav-item{
  text-align: left;
}





@media only screen and (max-width: 500px){
  .comp3 {
  
    background-position: 90%;

  
  }
  #r-content{
    padding: 18%;
  }
  #r-content h2{
    margin-top: 12px;
  }
  #r-content h3 {
    font-size: medium;
  }
  


}